
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin-bottom: 10px;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

main {
    padding: 20px;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
}

.item {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    flex: 1 1 calc(33.333% - 20px); /* Layout em 3 colunas com espaçamento entre elas */
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}